<div id="app" class="container-fluid">
  <div class="jumbotron department-jumbotron">
    <div class="row header-row">
      <div class="col-5">
        <h1 class="display-4">DEPARMENTS</h1>
      </div>
      <div class="col-7">
        <div id="loading-indicator" class=""></div>
      </div>
    </div>

    <p class="lead">Click on a department</p>
    <div id="departments-list" class="row"></div>
  </div>
  <div id="employees-by-dept-grid"></div>
</div>
